body{
    font-family: 'Noto Sans KR', sans-serif;font-family: 'Noto Sans KR', sans-serif;
    margin:0;
}
section{
    height:500px;
    margin-bottom: 50px;
}
.top-site{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
.middle-site{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 27px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 17px;
}
.half-width{
    margin:0 60px;
    width: 40%;
    float: left;
}
.half-width img{
  float: right;
  width: 80%;
  height:500px;
}
.half-width a{
    text-decoration: none;
    background-color: red;
    background-image: linear-gradient(45deg, tomato, orange);
    padding: 5px 20px;
    color:white;
    font-weight: 700;
}
#color-name{
    color:tomato;
}